<h1> Homepage app.html </h1>
<!-- <app-countries-list></app-countries-list>
<app-countries-table></app-countries-table>
<app-filters-page></app-filters-page> -->
<nav>
  <a class="button" routerLink="/countries-list" routerLinkActive="activebutton" ariaCurrentWhenActive="page">prwto tab</a> |
  <a class="button" routerLink="/countries-table" routerLinkActive="activebutton" ariaCurrentWhenActive="page">deutero tab</a>
  <a class="button" routerLink="/filters-page" routerLinkActive="activebutton" ariaCurrentWhenActive="page">trito tab</a>
</nav>
<router-outlet></router-outlet>
